{% extends "gui/main.html" %}
{% block title %}
    list of devices
{% endblock %}
{% block content %}
<main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">


 <div class="my-3  ">

   {% for device in devices %}
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">{{device.id}}</strong>
            <a href="{% url 'device' device.id  %}" class=" active" >
                Connect
            </a>
        </div>
        <span class="d-block">{{device.model}}</span>
      </div>
    </div>
     {% empty %}
     <div class="pt-3 col-md-12 text-center ">
      <h4><strong class="text-gray-dark">No device connected</strong></h4>
    </div>

     <br>
  <div class="" style=" position: relative;  width:100%; height:100%;">
    <div class=""  style="font:Verdana, Geneva, sans-serif; font-size:30px; text-align:center;   height:100%; vertical-align:center;">

    </div>
  </div>

   {% endfor %}

  </div>

</main>

{% endblock %}