{% extends "gui/main.html" %}
{% block content %}
<main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3 class="h3">Error </h3>
  </div>
 <div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="d-flex text-muted pt-3">
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">

      </div>
    </div>

  </div>



</main>

<script>
    open(5)
</script>

{% endblock %}